<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OpenGenome</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'FinalSite/build/css/style.css' %}">
        <link rel="stylesheet" href="https://pyscript.net/releases/2023.11.2/pyscript.css" />
        <script defer src="https://pyscript.net/releases/2022.12.1/pyscript.js"></script>
    </head>

    <body class ="min-h-screen bg-slate-50 dark:bg-black dark:text-teal-700">
        <section hidden>
            <py-config hidden>
                [splashscreen]
                    enabled = false
            </py-config>
        </section>

        <header class="bg-teal-300 text-black sticky dark:bg-teal-700 top-0 z-10">
            <section class="max-w-4xl mx-auto p-4 flex justify-between items-center">
                <h1 class="text-3xl font-medium">
                    <a href="#hero"> OpenGenome - Analytics </a>
                </h1>
                <div>
                    <button id="mobile-open-button" class="text-3xl sm:hidden focus:outline-none">
                        &#9776;
                    </button>
                    <nav class="hidden sm:block space-x-8 text-xl" aria-labels="main">
                        <a href="#userData" class="hover:opacity-90">
                            Your Data
                        </a>
                        <a href ="#plotting" class="hover:opacity-90">
                            Plotting
                        </a>
                        <a href="index.html" class="hover:opacity-90">
                            Home
                        </a>
                    </nav>
                </div>
            </section>
        </header>

        <main class="max-w-4xl mx-auto">
            
            <section id="userData" class="p-6 my-4 pt-10">

                <h2 class="text-4xl font-bold text-center sm:text-5xl mb-6 text-slate-900 dark:text-white">
                    Your Data <!--We want csv name here-->
                </h2>
                
                <div class="mb-4 px-20 text-center">
                    <br /><span class="text-3xl">
                    {% if csvToAnalyze != '' %}
                    {{csvName}}
                    {% endif %}
                    </span><br />
                </div>
                
            </section>

            <hr class="mx-auto bg-black dark:bg-white w-1/2">
            
            <section id="plotting" class="p-6 my-4 pt-10">
                <h2 class="text-4xl font-bold text-center sm:text-5xl mb-6 text-slate-900 dark:text-white">
                    Plot Your Data
                </h2>

                <form action = '' method="POST" enctype = "multipart/form-data" name = "pTest"> {% csrf_token %}
                    <div class="flex justify-center mt-8">
                        <div class="relative flex flex-nowrap items-stretch">
                            <span
                                class="flex items-center whitespace-nowrap rounded-l border border-r-0 border-solid border-neutral-300 px-3 py-[0.25rem] text-center text-base font-normal leading-[1.6] text-neutral-700 dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200"
                                id="addon-wrapping"
                                >P Value</span
                            >
                            <input
                                type="number"
                                step="any"
                                name="pValue"

                                class="relative m-0 block w-full min-w-0 flex-auto rounded-r border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-teal-300 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-slate-400 dark:focus:border-primary"
                                placeholder="0.99 or 0.95 suggested"
                                aria-label="P-Value"
                                aria-describedby="addon-wrapping" />
                        </div>

                    </div>

                    <div class="flex justify-center mt-6" id="pTest">
                    <img class="felx justify-center w-2/3 sm:w-2/3 bg-teal-300 dark:bg-teal-700" src="{% get_media_prefix %}/Plots/{{pTest}}" alt="P-Test Plot" id="pTestImage">
                    </div>
                    <div class="text-center mt-6">
                        <button id="targetGeneListButton" name="button_type" value="pTest" type="analyze" class="bg-teal-300 hover:bg-teal-500 dark:bg-teal-700 text-white font-bold py-2 px-4 mx-4 rounded">
                            Run P-Test
                        </button>
                    </div>
                </form>

                <form action = '' method="POST" enctype = "multipart/form-data" name = "magTest"> {% csrf_token %}
                    <div class="flex justify-center mt-8 px-40">
                        <div class="relative flex flex-nowrap items-stretch">
                            <span
                                class="flex items-center whitespace-nowrap rounded-l border border-r-0 border-solid border-neutral-300 px-3 py-[0.25rem] text-center text-base font-normal leading-[1.6] text-neutral-700 dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200"
                                id="addon-wrapping"
                                >Number of Elements</span
                            >
                            <input
                                type="number"
                                name="numElmentsInput"
                                class="relative m-0 block w-full min-w-0 flex-auto rounded-r border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-teal-300 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-slate-400 dark:focus:border-primary"
                                placeholder="Insert a positive number < 500"
                                aria-label="Username"
                                aria-describedby="addon-wrapping" />
                        </div>
                    </div>
                    <div class="flex justify-center mt-1 px-30">
                        <div class="relative flex flex-nowrap items-stretch">
                            <span
                                class="flex items-center whitespace-nowrap rounded-l border border-r-0 border-solid border-neutral-300 px-3 py-[0.25rem] text-center text-base font-normal leading-[1.6] text-neutral-700 dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200"
                                id="addon-wrapping"
                                >Positive, Negative, or Absolute Magnitude?</span>
                            <div class="relative m-0 block w-full min-w-0 flex-auto rounded-r border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-teal-300 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-slate-400 dark:focus:border-primary"
                            role="group" name="magChoice" id="magChoice">
                                <div class="my-2 flex items-center justify-center">
                                    <label class="inline-flex items-center px-2">
                                        <input type="radio" class="form-radio" name="radio" value="1">
                                        <span class="ml-2">Positive</span>
                                    </label>
                                    <label class="inline-flex items-center ml-6 px-2">
                                        <input type="radio" class="form-radio" name="radio" value="2">
                                        <span class="ml-2">Negative</span>
                                    </label>
                                    <label class="inline-flex items-center ml-6 px-2">
                                        <input type="radio" class="form-radio" name="radio" value="3">
                                        <span class="ml-2">Absolute</span>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>    
                    <div class="flex justify-center mt-6" id="magTest1">
                    <img class="flex justify-center w-2/3 sm:w-2/3 bg-teal-300 dark:bg-teal-700" src="{% get_media_prefix %}/Plots/{{magTest1}}" alt="magTest Plot1" id="magTest1Image">
                    </div>
                    <div class="flex justify-center mt-6" id="magTest2">
                    <img class="flex justify-center w-2/3 sm:w-2/3 bg-teal-300 dark:bg-teal-700" src="{% get_media_prefix %}/Plots/{{magTest2}}" alt="magTest Plot2" id="magTest2Image">
                    </div>
                    <div class="flex justify-center mt-6" id="magTest3">
                    <img class="flex justify-center w-2/3 sm:w-2/3 bg-teal-300 dark:bg-teal-700" src="{% get_media_prefix %}/Plots/{{magTest3}}" alt="magTest Plot3" id="magTest3Image">
                    </div>
                    <div class="text-center mt-6">
                        <button id="greatestMagnituedButton" name="button_type" value = "magTest" type="submit" class="bg-teal-300 hover:bg-teal-500 dark:bg-teal-700 text-white font-bold py-2 px-4 mx-4 rounded">
                            Run Greatest Magnitudes Function
                        </button>
                    </div>
                </form>

                <form action = '' method="POST" enctype = "multipart/form-data" name = "targetTest"> {% csrf_token %}
                    <div class="flex justify-center mt-8 px-24">
                        <div class="relative flex flex-nowrap items-stretch">
                            <span
                                class="flex items-center whitespace-nowrap rounded-l border border-r-0 border-solid border-neutral-300 px-3 py-[0.25rem] text-center text-base font-normal leading-[1.6] text-neutral-700 dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200"
                                id="addon-wrapping"
                                >Target Genes</span
                            >
                            <input
                                type="text"
                                name="targetGenes"
                                class="relative m-0 block w-full min-w-0 flex-auto rounded-r border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-teal-300 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-slate-400 dark:focus:border-primary"
                                placeholder="Gene1, Gene2, Gene3,..."
                                aria-label="Target-Genes"
                                aria-describedby="addon-wrapping" />
                        </div>
                    </div>

                    <div class="flex justify-center mt-6" id="finalSet">
                    <img class="flex justify-center w-2/3 sm:w-2/3 bg-teal-300 dark:bg-teal-700" src="{% get_media_prefix %}/Plots/{{finalSet}}" alt="finalSet Plot" id="finalSetImage">
                    </div>
                    <div
                    data-te-perfect-scrollbar-init
                    class="relative h-[400px] w-[600px] overflow-hidden">
                        <textarea
                            name="MagTest"
                            class="relative m-0 block w-full min-w-0 flex-auto rounded-r border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-teal-300 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-slate-400 dark:focus:border-primary"
                            placeholder="Magnitude Test Table will go here"
                            aria-label="Target-Genes"
                            aria-describedby="addon-wrapping"
                        >
                        
                        </textarea>
                    </div>
                    
                    <div class="text-center mt-6">
                        <button id="targetGeneListButton" name="button_type" value="targetGene" type="submit" class="bg-teal-300 hover:bg-teal-500 dark:bg-teal-700 text-white font-bold py-2 px-4 mx-4 rounded" onclick="PrintTargetGenesFunction()">
                            Print Target Gene Data
                        </button>
                    </div>
                </form>

            </section>

            <hr class="mx-auto bg-black dark:bg-white w-1/2">

            <section id="share" class="p-6 my-4 pt-10">
                <h2 class="text-4xl font-bold text-center sm:text-5xl mb-6 text-slate-900 dark:text-white">
                Share Your Results
                </h2>
                <div class="text-center mt-12">
                    <button href="postpage.html" type="makePost" class="bg-teal-300 hover:bg-teal-500 dark:bg-teal-700 text-white font-bold py-2 px-4 rounded">
                        Make a Post
                    </button>
                </div>
            </section>

        </main>

    </body>
    
</html>
